.Weekly {
  padding-top: 40px;

  &--container {
    flex-wrap: wrap;
    justify-content: center;
  }

  &--heading {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: #5584FF;
    text-transform: uppercase;
  }
}
