html
    head
        title #{htmlWebpackPlugin.options.title}
    body
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAkrHDF1qzFbANyiUEFX4HNhmmVnslOSA&libraries=places")
        div#root
