.LocaleSwithcer {
  display: flex;
  border: 1px solid #EFF8FF;
  border-radius: 3px;
  padding: 5px 20px;

  &--link {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #668297;
    transition: color .2s;
    cursor: pointer;

    & + & {
      margin-left: 10px;
    }

    &:hover {
      color: #5584FF;
    }

    &[data-active] {
      font-weight: 700;
      color: #5584FF;
    }
  }
}
